/.idea/
/venv/
/dist/
/image_colorizer.egg-info/
/models/
/*.prototxt
/*.caffemodel
/*.npy
/build/
/image_colorizer/source/models/colorization.caffemodel
/colorized_lion.jpg
/docs/
/MANIFEST.in
/pyproject.toml
